body {
    font-family: Impact, Charcoal, sans-serif;
    color: rgb(80, 80, 80);
}

.usage {
    display: block;
}

.tip {
    background: #dfd;
    border-left: 5px solid #4caf50;
    margin-top: 10px;
    padding: 10px;
}
